extends layout 

block content 
  ul(class='navbar')
    li
      a(href='/') Home
    li 
      a(href='/canvas/add') Set up canvas integrations
  h1(style='font-size: 50px;') Recent
  div(class='canvas-index-container')
    div(id='message-container')
      each message in messages
        if message.type == 'Submission'
          h1 
            a(href=message.url target='_blank' style='text-decoration:none') #{message.title}(#{message.course}) 
        else 
          h1
            a(href=message.url style='text-decoration:none')=message.title
        p(style='color:blue; ')=message.date
        p(class='other')=message.message
        if message.type == 'Submission'
          p Grade: #{message.grade}
    div(id='profile')
      h1=profile.name
      img(src=profile.img_url title='prof-image' style='width:10em; height:10em;')
      h1 Logins
      
      each val in logins 
        p ---------
        p Event Type: #[span(class='event-login') #{val.event_type}]
        p Login Id: #[span(class='event-login') #{val.id}] 
        p Time: #[span(class='event-login') #{val.created_at}]
        p ---------

  script(src='javascripts/canvas.js')