extends layout 

block content 
  ul(class='navbar')
    li
      a(href='/') Home
  h1(style='font-size: 50px;') Recent
  div(id='message-container')
    each message in messages
      if message.type == 'Submission'
        h1 
          a(href=message.url style='text-decoration:none') #{message.title}(#{message.course}) 
      else 
        h1
          a(href=message.url style='text-decoration:none')=message.title
      p(style='color:blue; ')=message.date
      p(class='other')=message.message
      if message.type == 'Submission'
        p Grade: #{message.grade}
  script(src='javascripts/canvas.js')