extends layout

block content
  ul(class='navbar')
    li
      a(href='/todo') Todo List
    li
      a(href='/wellness') Wellness
    li
      a(href='/notes') Notes
    li 
      a(href='/college') College
    li 
      a(href='/sleep') Sleep
    li
      a(href='/canvas') Canvas
    li  
      a(href='/forums') Forums
    li 
      a(href='/info') Info
    li 
      .dropdown
        a.dropbtn Links
        .dropdown-content
          a(href='https://drive.google.com/drive/u/0/' target="_blank") Drive
          a(href='https://docs.google.com/' target="_blank") Docs
          a(href='https://mail.google.com/' target="_blank") Gmail 
          a(href='https://lms.pps.net/' target="_blank") Canvas
          a(href='https://my.pps.net/' target="_blank") My.pps

  div(id='reduceMovement' style='display:none;')=reduceMovement
  div(id='menu-container')
    a(href='/settings' id='settings' class='menu-button') #[i(class='fa-solid fa-bars')]
    a(href='/logout' id='logout' class='menu-button') #[i(class='fa-solid fa-right-from-bracket')]



  h1 Welcome, #{user}!
  h1(id='date')

  br
  div(id='quote-container')
    span(id='quote-text') #{quote}
    span(id='quote-author') ~ #{author}

  div(class='main-container')
    div(id='recent-container')
      h1(class='assignment-header') Upcoming assignments
      if recent.length == 0
        h1 Nothing to do.
      else 
        each val in recent
          div(class='task')
            h1=val.task
            p(class='dueDate')=val.dueDate
            p(class='other')=val.other
    div(id='overdue-container')
      h1(class='assignment-header') Overdue assignments
      if overdue.length == 0
        h1(style='color:green') No overdue assignments! 
      else
        each val in overdue
          div(class='task')
            h1(style='display:inline')=val.task
            if val.type=='canvasAssignment'
              a(href='/canvasIntegrationInfo') #[i(class="fa-solid fa-circle-exclamation FA-icon")]
            else 
              a(href='/todo/remove/'+val._id) #[i(class="fa-solid fa-xmark FA-icon")]
            p(class='dueDate')=val.dueDate
            p(class='other')=val.other
  script(src='javascripts/script.js')
  
  
