extends layout

block content
  ul(class='navbar')
    li
      a(href='/') Home
    li
      a(href='/notes/categories') Manage categories
     
  a(href='/notes/add' class='FA-icon add-new top-right') #[i(class="fa-solid fa-plus fa-beat-fade")]
  h1 You are on page #[span(id='page')=pageNum]
  main
    div(id='header' class='grid-center')
      h1 Notes
    div(id='filters' class='grid-center') 
      h1 Filters
      #filter-container
        each filter in categories
          .filter
            label(for=filter )=filter
            input(type='checkbox' checked name=filter value=filter)
        .filter
          label(for='none') none
          input(type='checkbox' checked name='none' 
value='none')
      button(id='apply-filters') Apply Filters
    div(id='search-bar' class='grid-center')
      p(id='search') #[i(class="fa-solid fa-magnifying-glass FA-icon")]
      input(name='query' id='search-query' value=query) 
      p(id='cancel') #[i(class="fa-solid fa-x FA-icon")]
    div(id='doc-container' class='grid-center')
      if docs.length == 0
        h4 No documents yet. Try making one by pressing the + button.
      else 
        each doc in docs
          .doc
            a(href='/notes/docs/delete/' + doc._id) #[i(class="fa-solid fa-x FA-icon" style='color:red')]
            -var category = doc.category ? `${doc.category}` : 'none'
            - doc.title = doc.title != null ? doc.title : doc.college //it could be a college doc
            if doc.title != ""
              span #[a(class='doc-name' href='/notes/docs/' + doc._id style='font-size:50px;') #{doc.title}] #[span(class='category') #{category}]
            else 
              span #[a(class='doc-name' href='/notes/docs/' + doc._id style='font-size:50px;') Untitled Document] #[span(class='category') #{category}] 
            
            p(class='other' style='font-size:30px')=doc.EQ
      div(class='pagination-links')
        if pageNum > 1
            button(id='prev') previous
        if totalNotes-(pageNum*10) > 0
            button(id='next') next
        else 
            p You have reached the end of your notes... 
  script(src='/javascripts/notes.js')
  